/*-------------------------------------------------------------------------GENERAL-------------------------------------------------------------------------*/
/*HTML ELEMENTS*/
@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}
* {
  outline: none !important;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
  font-family: "Roboto Condensed Regular", sans-serif;
  background: #0a0a0a;
  color: white;
}
html::-webkit-scrollbar {
  width: 0 !important;
}
body {
  margin: 0;
}
/*LOADER*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;
}
.loader--hide {
  opacity: 0;
  z-index: -1;
}
.loaderIcon {
  text-align: center;
  position: relative;
  top: 40%;
  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loaderIcon > img {
  width: 12vh;
}
/*BUTTONS*/
.ScrollUpButton__Container {
  outline: none;
  border-radius: 50%;
  z-index: 999 !important;
  background: white !important;
  text-align: center;
  border: 2px solid red;
  opacity: 0.3 !important;
  width: 45px !important;
  height: 45px !important;
}
.basicButton {
  width: 120px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.4s;
}
.basicButtonText {
  letter-spacing: 2px;
  padding-top: 12px;
}
/****************NAVBAR****************/
.view {
  padding-top: 55px;
}
.navbar {
  font-family: "Roboto Condensed Bold", sans-serif;
  top: 0;
  position: fixed;
  height: 55px;
  background: #0a0a0a;
  color: white;
  transition: 0.4s;
  z-index: 999;
}
.navbarContainer {
  height: 55px;
  width: 100vw;
  padding-left: 4vw;
  padding-right: 4vw;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: 0.4s;
}
.navLogo {
  float: left;
  text-align: left;
  width: 50%;
  transition: 0.4s;
}
.logo {
  width: 35px;
  cursor: pointer;
}
.linkTo {
  color: inherit;
  text-decoration: inherit;
}
#active {
  opacity: 1;
}
/****************HOME****************/
/*SECTION 1*/
.homeSection1 {
  height: 100vh;
  background: url("./assets/images/background.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}
.entrarButtonContainer {
  position: relative;
  width: 100%;
}
.entrarButton {
  width: 120px;
  margin: auto;
}
/*SECTION 2, 3 and 4*/
.homeSection2 {
  height: 100vh;
  position: relative;
}
.homeSection2Content {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.title {
  width: 100%;
  text-align: center;
}
.cover {
  width: 100%;
  text-align: center;
}
.listen {
  width: 100%;
  text-align: center;
}
.listenButtonBox {
  display: inline-block;
}
.homeSection2 {
  background: #121212;
}
.homeSection3 {
  background: #f8f8f8;
}
.contactsContainer {
  color: black;
  text-align: center;
  font-family: "Roboto Condensed Bold", sans-serif;
}
.contacts {
  text-transform: uppercase;
}
.contactsTitle {
  font-size: 40px;
}
.contactTitle {
  font-size: 25px;
}
.contactText {
  color: #585858;
  font-size: 15px;
}
.homeSection4 {
  background: #c4c4c4;
}
/****************BIO****************/
/*SECTION 1*/
.bioSection1 {
  height: 100vh;
  background: #121212;
}
/****************MEDIA****************/
/*SECTION 1*/
.mediaSection1 {
  height: 100vh;
  background: #f8f8f8;
}
/****************FOOTER****************/
.footer {
  background: #f4f4f4;
  text-align: center;
}
.socialLink {
  display: inline-block;
}
.creatorTag {
  color: #868686;
}
.joaolopes {
  cursor: pointer;
  color: inherit;
}
/*-------------------------------------------------------------------------DESKTOP-------------------------------------------------------------------------*/
/*BUTTONS*/
.ScrollUpButton__Container > svg {
  width: 30px !important;
  margin-top: 5px;
}
.ScrollUpButton__Toggled {
  bottom: 30px !important;
}
.ScrollUpButton__Toggled:hover {
  opacity: 1 !important;
}
.basicButtonDesktop {
  transition: 0.4s;
}
.basicButtonDesktop:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  background: white;
  transition: 0.4s;
}
.basicButtonDesktop:hover .basicButtonTextDesktop {
  color: #0a0a0a;
  transition: 0.4s;
}
.entrarButtonContainerDesktop {
  top: 75vh;
}
/****************NAVBAR****************/
.navLinksDesktop {
  float: right;
  text-align: right;
  width: 50%;
  padding-top: 10px;
}
.linksDesktop {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.linkDesktop {
  display: inline;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.4s;
}
.linkDesktop:hover {
  transition: 0.4s;
  opacity: 1;
}
.linkMarginDesktop {
  margin-right: 30px;
}
/****************HOME****************/
/*SECTION 2, 3 and 4*/
.titleImageDesktop {
  width: 500px;
}
.coverImageDesktop {
  width: 400px;
}
.listenButtonDesktop {
  width: 130px;
}
.listenButtonBoxDesktop {
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.4s;
}
.listenButtonBoxDesktop:hover {
  opacity: 0.5;
  transition: 0.4s;
}
.titleDesktop {
  padding-top: 90px;
}
.coverDesktop {
  padding-top: 90px;
  padding-bottom: 90px;
}
.listenDesktop {
  padding-bottom: 90px;
}
.contactsContainerDesktop {
  padding-bottom: 90px;
}
.contactsTitleDesktop {
  padding-bottom: 50px;
}
.contactDesktop {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10vw;
  margin-right: 10vw;
}
@media only screen and (max-width: 1585px) {
  .contactDesktop {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}
@media only screen and (max-width: 1220px) {
  .contactDesktop {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}
@media only screen and (max-width: 990px) {
  .contactDesktop {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
@media only screen and (max-width: 835px) {
  .contactDesktop {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
@media only screen and (max-width: 720px) {
  .contactDesktop {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}
/****************FOOTER****************/
.footerDesktop {
  height: 300px;
}
.socialDesktop {
  padding-top: 100px;
}
.socialLinkDesktop {
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.4s;
}
.socialLinkDesktop:hover {
  opacity: 0.5;
  transition: 0.4s;
}
.creatorTagDesktop {
  padding-top: 50px;
}
.joaolopesDesktop {
  transition: 0.4s;
}
.joaolopesDesktop:hover {
  opacity: 0.5;
  transition: 0.4s;
}
/*-------------------------------------------------------------------------MOBILE-------------------------------------------------------------------------*/
/*BUTTONS*/
.entrarButtonContainerMobile {
  top: 65vh;
}
/****************NAVBAR****************/
.menu {
  float: right;
  text-align: right;
  width: 90px;
  transition: 0.4s;
}
.menuTitle {
  float: left;
  padding-top: 10px;
  text-transform: uppercase;
}
.menuLogo {
  padding-top: 5px;
  width: 30px;
  float: right;
}
.sidenav {
  width: 0px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  color: #0a0a0a;
  transition: 0.4s;
}
.closeSidenav {
  font-size: 30px;
  margin-left: 10px;
}
.linksMobile {
  list-style-type: none;
  padding-top: 20px;
}
.linkMobile {
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.4s;
  margin-top: 20px;
}
.linkMobile:active {
  transition: 0.4s;
  opacity: 1;
}
.pushLeft {
  transition: 0.4s;
}
.slideLeft {
  transform: translateX(-270px);
  opacity: 0.5;
  pointer-events: none;
}
/****************HOME****************/
/*SECTION 2, 3 and 4*/
.titleImageMobile {
  width: 85vw;
}
.coverImageMobile {
  width: 70vw;
}
.listenButtonMobile {
  width: 25vw;
}
.listenButtonBoxMobile {
  margin-left: 10px;
  margin-right: 10px;
}
.titleMobile {
  padding-top: 11vw;
}
.coverMobile {
  padding-top: 11vw;
  padding-bottom: 11vw;
}
.listenMobile {
  padding-bottom: 11vw;
}
.contactsContainerMobile {
  padding-bottom: 11vw;
}
.contactMobile {
  padding-bottom: 5vw;
}
.contactsTitleMobile {
  padding-bottom: 7vw;
}
/****************FOOTER****************/
.footerMobile {
  height: 60vw;
}
.socialMobile {
  padding-top: 15vw;
}
.socialLinkMobile {
  width: 30px;
  margin-left: 5vw;
  margin-right: 5vw;
}
.creatorTagMobile {
  padding-top: 15vw;
}
